**/*.swp
cover.out
*~
flagr
!*/
site/
**/*.test
**/*.sublime-workspace
/.idea/
**/access.log
vendor/**/*.js
vendor/**/*.json
release
.DS_Store
*.syso
coverage.txt
.vscode/
.snap
*.tar.bz2
parts/
prime/
snap/.snapcraft/
stage/
_data/
.env.local
flagr.sqlite
./browser/flagr-ui/node_modules
Dockerfile
integration_tests/
