# All files use LF as eol
* text=auto eol=lf

# Remove vendor folder from the diff
vendor/**/* -diff

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.output binary
